<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Authentication" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= vite_stylesheet_link_tag "application.css" if defined?(vite_stylesheet_link_tag) %>
  <%= vite_javascript_include_tag "application.js" if defined?(vite_javascript_include_tag) %>
</head>

<body class="bg-grayscale-50 min-h-screen">
  <div class="flex min-h-screen flex-col items-center justify-center px-4 py-12">
    <%= yield %>
  </div>
</body>
</html>
