<h1><%= t("better_authy.passwords.mailer.greeting", email: @resource.email) %></h1>

<p><%= t("better_authy.passwords.mailer.instruction") %></p>

<p>
  <a href="<%= @reset_url %>">
    <%= t("better_authy.passwords.mailer.action") %>
  </a>
</p>

<p><%= t("better_authy.passwords.mailer.ignore") %></p>

<p><%= t("better_authy.passwords.mailer.expiration", hours: (@scope_config.password_reset_within / 1.hour).to_i) %></p>
